<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Log into your account.</title>
</head>
<body>
  <form method="POST" action="/users/login" id="registerForm">
      <div class="formfield">
        <div class="formfield--prompt">Username:</div>
        <input type="text" id="username" name="username">
      </div>
      <div class="formfield">
        <div class="formfield--prompt">Password:</div>
        <input type="password" id="password" name="password">
      </div>
      <input class="submitButton" type="submit"></input>
    </form>
    <a href="/users/register" class="register">Or click here to register...</a>
</body>
</html>