<div class="row">
  <div class="small-4 column end">
    <form method="POST" action="/users/register" id="registerForm">
    <div class="formfield">
      <input type="text" id="username" name="username" placeholder="Create username...">
    </div>
  </div>
</div>
<div class="row">
  <div class="small-4 column end">
    <div class="formfield">
      <input type="password" id="password" name="password" placeholder="Create password...">
    </div>
  </div>
</div>
<input class="submitButton" type="submit"></input>
</form>