<body class="reg_page">
  <div class="row appTitle_icon">
    <img src="../images/measure-cup50.png" alt="measuring_cup_pic" class="pitcher_pic">
    <h2 class="appTitle small-3 column">BatchBuilder</h2>
    <h5 class="reg_tagline small-12 column">Register as a user for access...</h5>
  </div>
  <form method="POST" action="/users/register" id="registerForm">
    <div class="formfield">
      <div class="row">
        <div class="small-4 columns">
          <input type="text" id="fullname" name="fullname" placeholder="Enter your name..." required>
        </div>
      </div>
    </div>
    <div class="formfield">
      <div class="row">
        <div class="small-4 columns">
          <input type="text" id="username" name="username" placeholder="Create username..." required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="formfield">
        <div class="small-4 columns">
          <input type="password" id="password" name="password" placeholder="Create password..." required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-4 columns">
        <input class="submitButton small button" type="submit"></input>
      </div>
    </div>
  </form>
</body>
