<div class="fixed">
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#"><img src="../images/measure-cup50.png" alt="measuring_cup_pic" class="pitcher_pic">BatchBuilder</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <!-- Nav Buttons -->
    <ul class="right">
      <li class="active">
        <a href="/form">New Batch</a>
      </li>
      <li class="divider"></li>
      <li class="active">
        <a href="/users/logout" id="logoutUser" class="logout">Log Out</a>
      </li>
    </ul>
    <ul class="right user_callout">
      <li class="name center"><aside class="user_callout_aside">Welcome to BatchBuilder, <%= username %>!</aside></li>
    </ul>
  </section>
</nav>
</div>