<!-- <nav class="top-bar bb_nav" data-topbar role="navigation">
  <ul class="title-area appTitle_icon">
    <li class="name">
      <h1 class="appTitle small-3 column end"><img src="../images/measure-cup50.png" alt="measuring_cup_pic" class="pitcher_pic"><a href="#">BatchBuilder</a></h1>
    </li>

    <li class="toggle-topbar icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar section">
    <ul class="right">
      <li class="active">
          <a href="/users/logout" id="logoutUser" class="logout">Click here to log out</a>
      </li>
    </ul>
  </section>
</nav> -->

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#"><img src="../images/measure-cup50.png" alt="measuring_cup_pic" class="pitcher_pic">BatchBuilder</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
</nav>