<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#"><img src="../images/measure-cup50.png" alt="measuring_cup_pic" class="pitcher_pic">BatchBuilder</a></h1>
    </li>
    </ul>
</nav>