<!DOCTYPE html>
<html>
  <head>
    <% include partials/formhead.ejs %>
  </head>
  <body class="form_page">

    <div class="row appTitle_icon">
      <img src="../images/measure-cup50.png" alt="measuring_cup_pic" class="pitcher_pic">
      <h2 class="appTitle small-3 column end">BatchBuilder</h2>
    </div>

    <!-- cook_date: {type: Date, required: true, default: Date.now }, -->
    <!-- exp_date: {type: Date, required: true, default: '' }, -->
    <!-- notes: {type: String, required: true, default: ''}, -->
    <!-- candyType: {type: String, required: true, default: ''}, -->
    <!-- sugarId: {type: String, required: true, default: ''}, -->
    <!-- butterId: {type: String, required: true, default: ''}, -->
    <!-- almondId: {type: String, required: true, default: ''}, -->
    <!-- chocolateId: {type: String, required: true, default: ''}, -->
    <!-- dustId: {type: String, required: true, default: ''}, -->
    <!-- cook_order: {type: Number, required: true, default: '' }, -->
    <!-- user: {type: String, required: true} -->

    <form method="POST" action="/form" id="batchForm">

      <div class="row">
        <div class="large-12 columns">
          <label>Type of Candy
            <select name="candyType" required>
              <option id="candyType" value="toffee">Toffee</option>
              <option value="caramel">Caramel</option>
              <option value="praline">Praline</option>
            </select>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="large-4 columns">
          <label>Production Date
            <input name="cook_date" id="cook_date" type="date" placeholder=""  required/>
          </label>
        </div>
        <div class="large-4 columns">
          <label>Expiration Date
            <input name="exp_date" id="exp_date" type="date" placeholder=""  required/>
          </label>
        </div>
        <div class="large-4 columns">
          <label>Cook order
            <input name="cook_order" id="cook_order" type="number" placeholder=""  required/>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <label>Batch
            <input name="batch" id="batchNum" type="text" placeholder=""  required/>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <label>Prepared By</label>
          <input name="user" id="user" type="text" placeholder=""  required/>
        </div>
      </div>

      <br/>
      <br/>

      <div class="row">
        <div class="small-12 columns">
          <h6>Ingredients</h6>
          <hr/>
        </div>
      </div>



      <div class="row">
        <div class="small-12 columns">
          <div class="row">
            <div class="small-3 columns">
              <label for="right-label" class="right inline">Sugar</label>
            </div>
            <div class="small-9 columns">
              <input type="text" name="sugarId" id="sugarId" placeholder="lot infomation" required>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <div class="row">
            <div class="small-3 columns">
              <label for="right-label" class="right inline">Butter</label>
            </div>
            <div class="small-9 columns">
              <input type="text" name="butterId" id="butterId" placeholder="lot infomation" required>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <div class="row">
            <div class="small-3 columns">
              <label for="right-label" class="right inline">Almonds</label>
            </div>
            <div class="small-9 columns">
              <input type="text" id="almondId" name="almondId" placeholder="lot infomation" required>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <div class="row">
            <div class="small-3 columns">
              <label for="right-label" class="right inline">Chocolate</label>
            </div>
            <div class="small-9 columns">
              <input type="text" id="chocolateId" name="chocolateId" placeholder="lot infomation" required>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <div class="row">
            <div class="small-3 columns">
              <label for="right-label" class="right inline">Almond Dust</label>
            </div>
            <div class="small-9 columns">
              <input type="text" name="dustId" id="dustId" placeholder="lot infomation" required>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <label>Production Notes
            <textarea name="notes" id="notes"  placeholder="" required></textarea>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <ul class="button-group even-2">
            <li><input id="submitBtn" class="button" type="submit" value="Submit"></li>
            <li><input id="resetBtn" class="button" type="edit" value="Reset"></li>
          </ul>
        </div>
      </div>

    </form>

    <% include partials/scripts.ejs %>
  </body>
</html>
