<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <h2 class="appTitle"><%= appTitle %></h2>
    <% include partials/login.ejs %>
    <% include partials/scripts.ejs %>
  </body>
</html>
