<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to Walker Creek Confections!</p>
    <% include partials/login.ejs %>
    <% include partials/scripts.ejs %>
  </body>
</html>
