<!DOCTYPE html>
<html>
  <head>
    <title><%= username %> profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/todo">Create a new batch</a> | <a href="/todo/list">Batch list</a>

    <div>
      Username: <%= username %>
    </div>
    <div>
      Number of tasks: <%= ba.length %>
    </div>
  </body>
</html>
