
/* CSS for general page styles */
.login_page,
.reg_page,
.form_page,
.list_page {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background: url("../images/whisk.jpg") no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.appTitle {
  color: white;
  font-weight: 200;
}

.pitcher_pic {
  float: left;
  margin-top: 5px;
  margin-left: 15px;
}

.appTitle_icon {
    margin-bottom: 11px;
}

.top-bar {
  height: 3.75rem; //Overiding Foundation ".top-bar .name h1" classes to style our h1 element
}

.top-bar .name h1 {
  margin-left: -10px;
}

.top-bar h1 a {
  font-size: 1.75rem;
  padding: 6px 0 0 5px !important; //Overiding some seriously specific Foundation styles for ".top-bar h1 a" padding
}

.bb_nav {
  margin-bottom: 75px;
}

/* --end of section-- */


/* CSS for batch item panels and batch form elements */
.panel.callout {
  border-style: none;
  border-width: none;
  border-color: none;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background-color: rgba(225, 225, 220, 0.5);
  color:white;
  border-radius: 2px;
  padding-bottom: 10px
}

.button-group.stack-for-small > li {
  margin-top: 20px;
}

.scroll-div {
  overflow-y: scroll;
}

.panel.callout a:not(.button) {
  color: white;
  text-decoration: none;
}

.form_label,
.ingredient_heading {
  color: white;
}
/* --end of section-- */


/* CSS for registration page */
#fullname {
  min-width: 250px;
}

#username {
  min-width: 250px;
}

#password {
  min-width: 250px;
}

.register_div {
  margin-top: 10px;
}

.register_div a {
  color: white;
}

.reg_tagline {
  color: white;
  font-weight: 200;
  margin-top: 15px;
}
/* --end of section-- */
