
/* CSS for general page styles */
.login_page,
.reg_page,
.form_page,
.list_page {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background: url("../images/whisk.jpg") no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

/* --end of section-- */

/*Top-bar nav styles*/

.appTitle {
  color: white;
  font-weight: 200;
}

.pitcher_pic {
  padding-right: 10px;
}

.appTitle_icon {
    margin-bottom: 11px;
}

.top-bar {
  margin-bottom: 85px;
}

.top-bar .name h1 {
  margin-left: -10px;
}

.top-bar .name h1 a {
  font-size: 1.50rem;
}

/* --end of section-- */


/* CSS for batch item panels and batch form elements */
.panel.callout {
  border-style: none;
  border-width: none;
  border-color: none;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background-color: rgba(225, 225, 220, 0.5);
  color:white;
  padding-bottom: 10px
}

.button-group.stack-for-small > li {
  margin-top: 20px;
}

.scroll-div {
  overflow-y: scroll;
  margin-top: 110px;
}

.panel.callout a:not(.button) {
  color: white;
  text-decoration: none;
}

.form_label,
.ingredient_heading {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}

.panel.callout div {
  margin-left: 5px;
  font-family: Helvetica, Arial, sans-serif;
}
/* --end of section-- */


/* CSS for registration page */
#fullname {
  min-width: 250px;
}

#username {
  min-width: 250px;
}

#password {
  min-width: 250px;
}

.register_div {
  margin-top: 10px;
}

.register_div a {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}

.reg_tagline {
  color: white;
  font-weight: 200;
  margin-bottom: 15px;
}
/* --end of section-- */




