
.login_page,
.reg_page,
.form_page,
.list_page {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background: url("../images/whisk.jpg") no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.reg_tagline {
  color: white;
  font-weight: 200;
  margin-top: 15px;
}

.panel.callout {
  border-style: none;
  border-width: none;
  border-color: none;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background-color: rgba(225, 225, 220, 0.5);
  color:white;
  border-radius: 2px;
}

a {
  color: white;
  text-decoration: underline;
}

.appTitle {
  color: white;
  font-weight: 200;
}

.pitcher_pic {
  float: left;
  margin-top: 5px;
}

.appTitle_icon {
    margin-bottom: 11px;
}

#fullname {
  min-width: 250px;
}

#username {
  min-width: 250px;
}

#password {
  min-width: 250px;
}

.register_div {
  margin-top: 10px;
}

.scroll-div {
  overflow-y: scroll;
}
